@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Bree serif";
  cursor: default;
}
.navbar {
  padding-left: 40px !important;
  background-color: lightgoldenrodyellow !important;
}

.navbar-brand {
  font-size: 30px;
  background: black;
  color: gold !important;
  padding: 0px 10px;
  border-radius: 5px;
}

.nav-link {
  border: 1px solid transparent;
  margin: 0px 5px;
  font-size: 20px;
  color: black !important;
}
.nav-link:hover {
  background: white;
  color: green !important;
  border: 1px solid green;
  border-radius: 5px;
}

.navbar-toggler {
  outline: none !important;
}
.nav-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-social-icons a i {
  font-size: 30px;
  margin: 0px 10px;
}

.nav-social-icons .instagram {
  color: #8a3ab9;
  cursor: pointer;
}
.nav-social-icons .youtube {
  color: red;
  cursor: pointer;
}
.nav-social-icons .facebook {
  color: blue;
  cursor: pointer;
}
.nav-social-icons .twitter{
  color: #1DA1F2;
  cursor: pointer;
}

.bg-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./Assets/main-bg.jpg");
  min-height: 100vh;
  background-size: cover;
}

.profile-card {
  background: white;
  height: 450px;
  width: 300px;
  text-align: center;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 20px;
}

.profile-pic {
  height: 140px;
  margin-top: 10px;
  border-radius: 100%;
}

.profile-name {
  font-family: "Roboto";
  margin: 5px 0px;
  font-weight: bold;
}

.profile-country,
.profile-about {
  font-weight: bold;
  font-family: "Roboto";
  margin: 5px 0px;
}

.btn {
  background: gold;
  color: black;
  outline: none;
  border-width: 1px;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
.btn:hover {
  color: green;
  background: white;
  border: 1px solid green;
}

.skills {
  margin-top: 5px;
  padding: 10px 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: gold;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.skills p {
  margin: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
}
.skills div {
  display: flex;
  flex-wrap: wrap;
}

.skills div p1 {
  font-weight: bold;
  border: solid 1px white;
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
}

/*----------*/

.Portfolio {
  min-height: 90vh;
  padding-top: 10vh;
  background: lightgoldenrodyellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  border: 2px solid goldenrod;
  margin: 10px;
  padding: 0px 5px;
  width: 450px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cards-1 {
  border: 2px solid goldenrod;
  margin: 10px;
  padding: 0px 5px;
  width: 230px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cards .content {
  height: 70%;
  width: 100%;
  border: 1px solid red;
}
.cards-1 .content {
  height: 85%;
  border: 1px solid red;
}
.cards-1 .video-content {
  width: 100%;
  border: 1px solid red;
}

.cards div {
  width: 100%;
  height: 15%;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgoldenrodyellow;
}
.cards-1 div {
  width: 100%;
  height: 10%;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgoldenrodyellow;
}

.cards h1 {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.cards-1 h1 {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.cards button {
  border: 0px;
  background: red;
  color: white;
  font-family: "Roboto";
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.cards-1 button {
  border: 0px;
  background: red;
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.cards button:hover {
  background: green;
  color: white;
}

@media (max-width: 858px) {
  .cards {
    width: 530px;
    height: 300px;
  }
  .cards h1 {
    font-size: 15px;
  }
  .cards button {
    font-size: 12px;
  }
}

@media (max-width: 858px) {
  .navbar {
    padding-left: 10px !important;
  }
  .nav-link {
    text-align: center;
    width: 100%;
    margin: 5px 0px;
  }
  .nav-social-icons i {
    margin: 0px 20px;
  }
}
